@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

 #app{
   @apply flex justify-center max-w-[2000px] m-auto w-full bg-slate-50/95;
} 
